# FEATURE ENGINEERING - PROJECT1

## Import required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error, r2_score
from math import sqrt

%matplotlib inline

(A)	COLLECT / EXTRACT DATA
THE FIRST STEP IN BUILDING A MODEL IS TO COLLECT OR EXTRACT DATA ON THE DEPENDENT VARIABLE AND INDEPENDENT VARIABLES FROM DIFFERENT DATASETS PROVIDED. DATA COLLECTION / EXTRACTION IS TIME CONSUMING AND EXPENSIVE PROCESS.

1.	YOU AS TEAM OF THREE OR FOUR STUDENTS YOU HAVE MERGE THE CANDIDATE DATA PROVIDED BASED ON THE COMMON FACTORS. 
2.	SIMULTANESUOYLY YOU NEED TO MAKE SEARCH WHAT ARE THE ATTRIBUTES THOSE ARE TAKEN INTO CONSIDERATION WHILE CARRYING OUT RECRUITMENT ACTIVITY. 
3.	THE RESEARCH WILL PROVIDE YOU MORE INSIGHT ON DETERMINING THE USEFUL ATTRIBUTES PRESENT IN THE DATASET OR GIVE POINTERS TO THE VARIBLES THAT NEEDS TO BE DERVIED. MAKE LIST OF SUCH POTENTIAL ATTRIBTUES. 
4.	OUTCOME OF THIS STEP WILL BE MERGED DATA SET CONTAINING THE 200 CANDIDATES DATA. 
5.	DOCUMENT ALL YOUR EFFORTS APPROPRIATELY IN THE JUPYTER NOTEBOOKS WITH DESCRIPTION AND CODE.

## Read Data to a Pandas DataFrame

##### Load Application Data

In [9]:
application_data_df = pd.read_excel('HR-Records_Final.xlsx', sheet_name='Application data')

In [10]:
application_data_df.head()

,Candidate ID,Date of Application,Date of Interview,Date of Job Offer,Date of Offer extension,Date of Joining,Offered band,Offered Salary,Percentage hike offered (CTC),Joining bonus amount,LOB,Joining location,Candidate relocation status,Acceptance status
0,C1,2019-08-28,2020-06-12,2020-06-22,2020-06-29,2020-07-14,B2,1.383755e+06,0.190383,58122.28125,IT,NCR,Yes,Joined
1,C2,2019-11-28,2020-06-08,2020-06-18,2020-06-25,2020-07-10,B4,2.976590e+06,0.332342,111705.13125,Manufacturing,NCR,Yes,Offer Rejected
2,C3,2019-08-11,2020-05-26,2020-06-05,2020-06-12,2020-07-12,B0,7.416631e+05,0.271345,29168.43750,IT,Chennai,No,Joined
3,C4,2019-08-18,2020-05-15,2020-05-25,2020-06-01,2020-07-31,C6,4.079724e+06,0.273813,160138.23750,Finance,Hyderabad,No,Offer Rejected
4,C5,2019-09-06,2020-01-25,2020-02-04,2020-02-11,2020-02-26,B5,3.340936e+06,0.289619,129531.88125,IT,Mumbai,Yes,Joined

##### Load Candidate Data

In [11]:
candidate_data_df = pd.read_excel('HR-Records_Final.xlsx', sheet_name='Candidate Data')

In [12]:
candidate_data_df.head()

,Candidate ID,Notice period,Current CTC,Current gross salary,Current organization,Highest Educational Degree,Total experience,Relevant experience,Year of graduation,Expected CTC,Percentage hike (CTC) expected,Gender,Candidate source,DOB,Location,Number of precious jobs
0,C1,0,1162445.625,1033285,IBM,Diploma,8,7.2,2012,1500000,0.290383,M,Direct,1991-11-06,Kolkata,2
1,C2,0,2234102.625,1985869,Mahindra,Diploma,15,13.5,2005,3200000,0.432342,M,Agency,1984-02-22,Pune,4
2,C3,30,583368.750,518550,Infosys,Diploma,4,3.6,2016,800000,0.371345,M,Direct,1995-03-27,Chennai,1
3,C4,60,3202764.750,2846902,JP Morgun,Diploma,20,18.0,2000,4400000,0.373813,M,Direct,1979-06-14,Hyderabad,6
4,C5,15,2590637.625,2302789,HCL,Diploma,17,15.3,2003,3600000,0.389619,M,Employee referral,1982-11-26,Hyderabad,5

##### Load Interview Data

In [13]:
interview_data_df = pd.read_excel('HR-Records_Final.xlsx', sheet_name='Interview Data ')

In [14]:
interview_data_df.head()

,Candidate ID,Written Test Date,Interview rounds,Date of first Interview,Date of last Interview,Interview types,Interview Types2,First interview duration,Last interaction duration
0,C1,2020-05-29,4,2020-06-03,2020-06-12,General,Online,40,25
1,C2,2020-05-31,2,2020-06-05,2020-06-08,Managerial,FaceToFace,40,40
2,C3,2020-05-15,3,2020-05-20,2020-05-26,Technical,Online,45,60
3,C4,2020-05-10,1,2020-05-15,2020-05-15,Technical,Written,40,40
4,C5,2020-01-11,4,2020-01-16,2020-01-25,Technical,Online,15,25

##### Merge Application, Candidate and Interview Data by Candidate ID

In [39]:
master_data = application_data_df.merge(candidate_data_df, on='Candidate ID').merge(interview_data_df, on='Candidate ID')

In [40]:
master_data.head().T

,0,1,2,3,4
Candidate ID,C1,C2,C3,C4,C5
Date of Application,2019-08-28 00:00:00,2019-11-28 00:00:00,2019-08-11 00:00:00,2019-08-18 00:00:00,2019-09-06 00:00:00
Date of Interview,2020-06-12 00:00:00,2020-06-08 00:00:00,2020-05-26 00:00:00,2020-05-15 00:00:00,2020-01-25 00:00:00
Date of Job Offer,2020-06-22 00:00:00,2020-06-18 00:00:00,2020-06-05 00:00:00,2020-05-25 00:00:00,2020-02-04 00:00:00
Date of Offer extension,2020-06-29 00:00:00,2020-06-25 00:00:00,2020-06-12 00:00:00,2020-06-01 00:00:00,2020-02-11 00:00:00
Date of Joining,2020-07-14 00:00:00,2020-07-10 00:00:00,2020-07-12 00:00:00,2020-07-31 00:00:00,2020-02-26 00:00:00
Offered band,B2,B4,B0,C6,B5
Offered Salary,1.38376e+06,2.97659e+06,741663,4.07972e+06,3.34094e+06
Percentage hike offered (CTC),0.190383,0.332342,0.271345,0.273813,0.289619
Joining bonus amount,58122.3,111705,29168.4,160138,129532
LOB,IT,Manufacturing,IT,Finance,IT
Joining location,NCR,NCR,Chennai,Hyderabad,Mumbai
Candidate relocation status,Yes,Yes,No,No,Yes
Acceptance status,Joined,Offer Rejected,Joined,Offer Rejected,Joined
Notice period,0,0,30,60,15
Current CTC,1.16245e+06,2.2341e+06,583369,3.20276e+06,2.59064e+06
Current gross salary,1033285,1985869,518550,2846902,2302789
Current organization,IBM,Mahindra,Infosys,JP Morgun,HCL
Highest Educational Degree,Diploma,Diploma,Diploma,Diploma,Diploma
Total experience,8,15,4,20,17
Relevant experience,7.2,13.5,3.6,18,15.3
Year of graduation,2012,2005,2016,2000,2003
Expected CTC,1500000,3200000,800000,4400000,3600000
Percentage hike (CTC) expected,0.290383,0.432342,0.371345,0.373813,0.389619
Gender,M,M,M,M,M
Candidate source,Direct,Agency,Direct,Direct,Employee referral
DOB,1991-11-06 00:00:00,1984-02-22 00:00:00,1995-03-27 00:00:00,1979-06-14 00:00:00,1982-11-26 00:00:00
Location,Kolkata,Pune,Chennai,Hyderabad,Hyderabad
Number of precious jobs,2,4,1,6,5
Written Test Date,2020-05-29 00:00:00,2020-05-31 00:00:00,2020-05-15 00:00:00,2020-05-10 00:00:00,2020-01-11 00:00:00
Interview rounds,4,2,3,1,4
Date of first Interview,2020-06-03 00:00:00,2020-06-05 00:00:00,2020-05-20 00:00:00,2020-05-15 00:00:00,2020-01-16 00:00:00
Date of last Interview,2020-06-12 00:00:00,2020-06-08 00:00:00,2020-05-26 00:00:00,2020-05-15 00:00:00,2020-01-25 00:00:00
Interview types,General,Managerial,Technical,Technical,Technical
Interview Types2,Online,FaceToFace,Online,Written,Online
First interview duration,40,40,45,40,15
Last interaction duration,25,40,60,40,25

## Get dimensionality of the data

In [41]:
print("Number of Records : {} \nNumber of variables : {}".format(master_data.shape[0],master_data.shape[1]))

Number of Records : 200
Number of variables : 37

## Observe the data

In [42]:
master_data.T

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
Candidate ID,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,...,C191,C192,C193,C194,C195,C196,C197,C198,C199,C200
Date of Application,2019-08-28 00:00:00,2019-11-28 00:00:00,2019-08-11 00:00:00,2019-08-18 00:00:00,2019-09-06 00:00:00,2019-10-08 00:00:00,2019-07-31 00:00:00,2019-09-13 00:00:00,2019-12-24 00:00:00,2019-10-03 00:00:00,...,2019-10-21 00:00:00,2019-11-16 00:00:00,2019-12-16 00:00:00,2019-09-05 00:00:00,2019-08-21 00:00:00,2019-12-06 00:00:00,2019-11-10 00:00:00,2019-11-19 00:00:00,2019-09-12 00:00:00,2019-10-29 00:00:00
Date of Interview,2020-06-12 00:00:00,2020-06-08 00:00:00,2020-05-26 00:00:00,2020-05-15 00:00:00,2020-01-25 00:00:00,2020-02-27 00:00:00,2020-04-29 00:00:00,2020-03-31 00:00:00,2020-06-26 00:00:00,2020-04-04 00:00:00,...,2020-01-09 00:00:00,2020-02-26 00:00:00,2020-06-28 00:00:00,2020-01-23 00:00:00,2020-03-06 00:00:00,2020-06-08 00:00:00,2020-06-24 00:00:00,2020-01-31 00:00:00,2020-05-02 00:00:00,2020-01-29 00:00:00
Date of Job Offer,2020-06-22 00:00:00,2020-06-18 00:00:00,2020-06-05 00:00:00,2020-05-25 00:00:00,2020-02-04 00:00:00,2020-03-08 00:00:00,2020-05-09 00:00:00,2020-04-10 00:00:00,2020-07-06 00:00:00,2020-04-14 00:00:00,...,2020-01-19 00:00:00,2020-03-07 00:00:00,2020-07-08 00:00:00,2020-02-02 00:00:00,2020-03-16 00:00:00,2020-06-18 00:00:00,2020-07-04 00:00:00,2020-02-10 00:00:00,2020-05-12 00:00:00,2020-02-08 00:00:00
Date of Offer extension,2020-06-29 00:00:00,2020-06-25 00:00:00,2020-06-12 00:00:00,2020-06-01 00:00:00,2020-02-11 00:00:00,2020-03-15 00:00:00,2020-05-16 00:00:00,2020-04-17 00:00:00,2020-07-13 00:00:00,2020-04-21 00:00:00,...,2020-01-26 00:00:00,2020-03-14 00:00:00,2020-07-15 00:00:00,2020-02-09 00:00:00,2020-03-23 00:00:00,2020-06-25 00:00:00,2020-07-11 00:00:00,2020-02-17 00:00:00,2020-05-19 00:00:00,2020-02-15 00:00:00
Date of Joining,2020-07-14 00:00:00,2020-07-10 00:00:00,2020-07-12 00:00:00,2020-07-31 00:00:00,2020-02-26 00:00:00,2020-04-14 00:00:00,2020-06-30 00:00:00,2020-06-16 00:00:00,2020-08-12 00:00:00,2020-05-06 00:00:00,...,2020-03-11 00:00:00,2020-05-13 00:00:00,2020-08-29 00:00:00,2020-02-24 00:00:00,2020-04-22 00:00:00,2020-08-09 00:00:00,2020-08-25 00:00:00,2020-03-03 00:00:00,2020-07-18 00:00:00,2020-04-15 00:00:00
Offered band,B2,B4,B0,C6,B5,C6,B3,B0,B5,B4,...,B5,B3,B4,C6,B1,B5,B5,B4,B4,B0
Offered Salary,1.38376e+06,2.97659e+06,741663,4.07972e+06,3.34094e+06,4.37329e+06,2.70625e+06,556952,2.66841e+06,2.68362e+06,...,2.96745e+06,2.70565e+06,2.67381e+06,3.8102e+06,1.0192e+06,3.63256e+06,2.95136e+06,2.39268e+06,2.80392e+06,740156
Percentage hike offered (CTC),0.190383,0.332342,0.271345,0.273813,0.289619,0.338593,0.39679,0.293796,0.152236,0.240235,...,0.276019,0.392128,0.182117,0.31476,0.261343,0.358273,0.186976,0.154088,0.43002,0.236813
Joining bonus amount,58122.3,111705,29168.4,160138,129532,163354,96874,21524,115793,108190,...,116277,97176.7,113094,144901,40401.3,133720,124322,103661,98038,29921.9
LOB,IT,Manufacturing,IT,Finance,IT,Finance,IT,IT,Manufacturing,IT,...,IT,IT,IT,IT,IT,IT,Finance,IT,Finance,Finance
Joining location,NCR,NCR,Chennai,Hyderabad,Mumbai,Mumbai,Chennai,Mumbai,Pune,Pune,...,Mumbai,Chennai,Pune,Chennai,Hyderabad,Chennai,NCR,Hyderabad,Pune,Chennai
Candidate relocation status,Yes,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
Acceptance status,Joined,Offer Rejected,Joined,Offer Rejected,Joined,Joined,Offer Rejected,Offer Rejected,Offer Rejected,Joined,...,Offer Rejected,Joined,Offer Rejected,Offer Rejected,Joined,Joined,Offer Rejected,Offer Rejected,Joined,Offer Rejected
Notice period,0,0,30,60,15,30,45,60,30,0,...,45,60,45,15,30,45,45,0,60,60
Current CTC,1.16245e+06,2.2341e+06,583369,3.20276e+06,2.59064e+06,3.26708e+06,1.93748e+06,430479,2.31586e+06,2.1638e+06,...,2.32555e+06,1.94353e+06,2.26188e+06,2.89802e+06,808026,2.6744e+06,2.48645e+06,2.07322e+06,1.96076e+06,598438
Current gross salary,1033285,1985869,518550,2846902,2302789,2904072,1722204,382648,2058540,1923378,...,2067155,1727585,2010563,2576016,718245,2377241,2210176,1842862,1742897,531945
Current organization,IBM,Mahindra,Infosys,JP Morgun,HCL,HSBC,Accenture,Accenture,L & T,TCS,...,CSE,TCS,Cognizant,Oracle,TCS,Accenture,Bank Of America,Tech Mahindra,HSBC,Bank Of America
Highest Educational Degree,Diploma,Diploma,Diploma,Diploma,Diploma,Diploma,Diploma,Master,Master,Diploma,...,Bachelors,Bachelors,Bachelors,Bachelors,Diploma,Master,Bachelors,Diploma,Diploma,Bachelors
Total experience,8,15,4,20,17,20,12,3,16,15,...,16,12,15,18,6,17,16,14,13,4
Relevant experience,7.2,13.5,3.6,18,15.3,18,10.8,2.7,14.4,13.5,...,14.4,10.8,13.5,16.2,5.4,15.3,14.4,12.6,11.7,3.6
Year of graduation,2012,2005,2016,2000,2003,2000,2008,2017,2004,2005,...,2004,2008,2005,2002,2014,2003,2004,2006,2007,2016
Expected CTC,1500000,3200000,800000,4400000,3600000,4700000,2900000,600000,2900000,2900000,...,3200000,2900000,2900000,4100000,1100000,3900000,3200000,2600000,3000000,800000
Percentage hike (CTC) expected,0.290383,0.432342,0.371345,0.373813,0.389619,0.438593,0.49679,0.393796,0.252236,0.340235,...,0.376019,0.492128,0.282117,0.41476,0.361343,0.458273,0.286976,0.254088,0.53002,0.336813
Gender,M,M,M,M,M,F,F,M,M,M,...,M,M,M,M,F,F,M,F,F,M
Candidate source,Direct,Agency,Direct,Direct,Employee referral,Direct,Employee referral,Direct,Employee referral,Direct,...,Agency,Direct,Employee referral,Employee referral,Employee referral,Employee referral,Agency,Direct,Employee referral,Agency
DOB,1991-11-06 00:00:00,1984-02-22 00:00:00,1995-03-27 00:00:00,1979-06-14 00:00:00,1982-11-26 00:00:00,1979-08-19 00:00:00,1987-05-22 00:00:00,1993-11-27 00:00:00,1980-10-06 00:00:00,1984-03-27 00:00:00,...,1982-04-06 00:00:00,1986-03-05 00:00:00,1983-11-02 00:00:00,1980-01-20 00:00:00,1993-09-13 00:00:00,1979-02-17 00:00:00,1982-05-27 00:00:00,1985-09-21 00:00:00,1986-06-02 00:00:00,1994-03-17 00:00:00
Location,Kolkata,Pune,Chennai,Hyderabad,Hyderabad,Bangaluru,Kolkata,Chennai,Kolkata,Hyderabad,...,Kolkata,Kolkata,Kolkata,Bangaluru,Mumbai,Bangaluru,Kolkata,Kolkata,Kolkata,Mumbai
Number of precious jobs,2,4,1,6,5,6,4,1,5,4,...,5,4,4,5,1,5,5,4,4,1
Written Test Date,2020-05-29 00:00:00,2020-05-31 00:00:00,2020-05-15 00:00:00,2020-05-10 00:00:00,2020-01-11 00:00:00,2020-02-22 00:00:00,2020-04-18 00:00:00,2020-03-23 00:00:00,2020-06-21 00:00:00,2020-03-24 00:00:00,...,2020-01-01 00:00:00,2020-02-15 00:00:00,2020-06-17 00:00:00,2020-01-12 00:00:00,2020-02-27 00:00:00,2020-05-25 00:00:00,2020-06-13 00:00:00,2020-01-17 00:00:00,2020-04-18 00:00:00,2020-01-24 00:00:00
Interview rounds,4,2,3,1,4,1,3,2,1,3,...,2,3,3,3,2,4,3,4,4,1
Date of first Interview,2020-06-03 00:00:00,2020-06-05 00:00:00,2020-05-20 00:00:00,2020-05-15 00:00:00,2020-01-16 00:00:00,2020-02-27 00:00:00,2020-04-23 00:00:00,2020-03-28 00:00:00,2020-06-26 00:00:00,2020-03-29 00:00:00,...,2020-01-06 00:00:00,2020-02-20 00:00:00,2020-06-22 00:00:00,2020-01-17 00:00:00,2020-03-03 00:00:00,2020-05-30 00:00:00,2020-06-18 00:00:00,2020-01-22 00:00:00,2020-04-23 00:00:00,2020-01-29 00:00:00
Date of last Interview,2020-06-12 00:00:00,2020-06-08 00:00:00,2020-05-26 00:00:00,2020-05-15 00:00:00,2020-01-25 00:00:00,2020-02-27 00:00:00,2020-04-29 00:00:00,2020-03-31 00:00:00,2020-06-26 00:00:00,2020-04-04 00:00:00,...,2020-01-09 00:00:00,2020-02-26 00:00:00,2020-06-28 00:00:00,2020-01-23 00:00:00,2020-03-06 00:00:00,2020-06-08 00:00:00,2020-06-24 00:00:00,2020-01-31 00:00:00,2020-05-02 00:00:00,2020-01-29 00:00:00
Interview types,General,Managerial,Technical,Technical,Technical,Managerial,Technical,Managerial,Technical,Technical,...,Managerial,Managerial,Managerial,General,Managerial,Technical,General,Technical,Managerial,General
Interview Types2,Online,FaceToFace,Online,Written,Online,Online,FaceToFace,Written,FaceToFace,FaceToFace,...,FaceToFace,Online,Online,Online,Written,FaceToFace,Written,FaceToFace,FaceToFace,Online
First interview duration,40,40,45,40,15,40,30,15,30,20,...,25,15,15,40,45,15,60,30,25,45
Last interaction duration,25,40,60,40,25,40,60,60,30,30,...,15,20,45,15,15,20,60,15,25,45

In [28]:
master_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 37 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Candidate ID                     200 non-null    object
 1   Date of Application              200 non-null    datetime64[ns]
 2   Date of Interview                200 non-null    datetime64[ns]
 3   Date of Job Offer                200 non-null    datetime64[ns]
 4   Date of Offer extension          200 non-null    datetime64[ns]
 5   Date of Joining                  200 non-null    datetime64[ns]
 6   Offered band                     200 non-null    object
 7   Offered Salary                   200 non-null    float64
 8   Percentage hike offered (CTC)    200 non-null    float64
 9   Joining bonus amount             200 non-null    float64
 10  LOB                              200 non-null    object
 11  Joining location                 200 non-null    object
 12  Candidate relocation status      200 non-null    object
 13  Acceptance status                200 non-null    object
 14  Notice period                    200 non-null    int64
 15  Current CTC                      200 non-null    float64
 16  Current gross salary             200 non-null    int64
 17  Current organization             200 non-null    object
 18  Highest Educational Degree       200 non-null    object
 19  Total experience                 200 non-null    int64
 20  Relevant experience              200 non-null    float64
 21  Year of graduation               200 non-null    int64
 22  Expected CTC                     200 non-null    int64
 23  Percentage hike (CTC) expected   200 non-null    float64
 24  Gender                           200 non-null    object
 25  Candidate source                 200 non-null    object
 26  DOB                              200 non-null    datetime64[ns]
 27  Location                         200 non-null    object
 28  Number of precious jobs          200 non-null    int64
 29  Written Test Date                200 non-null    datetime64[ns]
 30  Interview rounds                 200 non-null    int64
 31  Date of first Interview          200 non-null    datetime64[ns]
 32  Date of last Interview           200 non-null    datetime64[ns]
 33  Interview types                  200 non-null    object
 34  Interview Types2                 200 non-null    object
 35  First interview duration         200 non-null    int64
 36  Last interaction duration        200 non-null    int64
dtypes: datetime64[ns](9), float64(6), int64(9), object(13)
memory usage: 69.4+ KB

In [30]:
master_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Offered Salary,200.0,2.346565e+06,1.095181e+06,460949.11250,1.396196e+06,2.414243e+06,3.317921e+06,4.568679e+06
Percentage hike offered (CTC),200.0,2.706716e-01,8.713134e-02,0.10994,1.940578e-01,2.755148e-01,3.400898e-01,4.917724e-01
Joining bonus amount,200.0,9.296728e+04,4.371861e+04,18048.88125,5.295534e+04,9.694949e+04,1.333756e+05,1.676222e+05
Notice period,200.0,3.127500e+01,2.203810e+01,0.00000,1.500000e+01,3.000000e+01,4.500000e+01,6.000000e+01
Current CTC,200.0,1.859346e+06,8.743721e+05,360977.62500,1.059107e+06,1.938990e+06,2.667512e+06,3.352445e+06
Current gross salary,200.0,1.652752e+06,7.772197e+05,320869.00000,9.414282e+05,1.723546e+06,2.371122e+06,2.979951e+06
Total experience,200.0,1.228000e+01,5.242041e+00,3.00000,7.750000e+00,1.200000e+01,1.700000e+01,2.000000e+01
Relevant experience,200.0,1.105200e+01,4.717837e+00,2.70000,6.975000e+00,1.080000e+01,1.530000e+01,1.800000e+01
Year of graduation,200.0,2.007720e+03,5.242041e+00,2000.00000,2.003000e+03,2.008000e+03,2.012250e+03,2.017000e+03
Expected CTC,200.0,2.532500e+06,1.181556e+06,500000.00000,1.500000e+06,2.600000e+06,3.600000e+06,4.900000e+06
Percentage hike (CTC) expected,200.0,3.706716e-01,8.713134e-02,0.20994,2.940578e-01,3.755148e-01,4.400898e-01,5.917724e-01
Number of precious jobs,200.0,3.575000e+00,1.728965e+00,1.00000,2.000000e+00,4.000000e+00,5.000000e+00,6.000000e+00
Interview rounds,200.0,2.485000e+00,1.125214e+00,1.00000,1.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00
First interview duration,200.0,3.570000e+01,1.439779e+01,15.00000,2.500000e+01,4.000000e+01,4.500000e+01,6.000000e+01
Last interaction duration,200.0,3.512500e+01,1.476310e+01,15.00000,2.500000e+01,3.000000e+01,4.500000e+01,6.000000e+01

In [31]:
master_data.describe(include=["object"]).T

                            count unique                top freq
Candidate ID                  200    200               C195    1
Offered band                  200      7                 C6   42
LOB                           200      3                 IT  120
Joining location              200      5                NCR   51
Candidate relocation status   200      2                Yes  185
Acceptance status             200      2             Joined  102
Current organization          200     15             Oracle   21
Highest Educational Degree    200      3          Bachelors   73
Gender                        200      2                  M  111
Candidate source              200      3  Employee referral   72
Location                      200     10            Kolkata   26
Interview types               200      3          Technical   77
Interview Types2              200      3            Written   72

### Check for null values in the data sets

In [44]:
master_data.isnull().sum()

Candidate ID                       0
Date of Application                0
Date of Interview                  0
Date of Job Offer                  0
Date of Offer extension            0
Date of Joining                    0
Offered band                       0
Offered Salary                     0
Percentage hike offered (CTC)      0
Joining bonus amount               0
LOB                                0
Joining location                   0
Candidate relocation status        0
Acceptance status                  0
Notice period                      0
Current CTC                        0
Current gross salary               0
Current organization               0
Highest Educational Degree         0
Total experience                   0
Relevant experience                0
Year of graduation                 0
Expected CTC                       0
Percentage hike (CTC) expected     0
Gender                             0
Candidate source                   0
DOB                                0
Location                           0
Number of precious jobs            0
Written Test Date                  0
Interview rounds                   0
Date of first Interview            0
Date of last Interview             0
Interview types                    0
Interview Types2                   0
First interview duration           0
Last interaction duration          0
dtype: int64